@font-face {
    font-family: 'creepster';
    src: url('fonts/creepster.ttf') format('truetype'),
        /* Safari, Android, iOS */
}

@font-face {
    font-family: 'pixelify';
    src: url('fonts/PixelifySans-VariableFont_wght.ttf') format('truetype'),
        /* Safari, Android, iOS */
}

body {
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img2/5_background/cemetary_04.jpg');
    background-size: cover;
    height: 100vh;
    font-family: 'creepster', Arial, Helvetica, sans-serif;
}

.d-none {
    display: none !important;
}

.title {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 60px;
    position: absolute;
    top: -100px;
    z-index: 20;
    text-align: center;
}

canvas {
    position: relative;
    background-color: black;
    display: block;
    align-items: center;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: relative;
}

#symbols {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    z-index: 10 !important;
    cursor: pointer;
}

#symbols img {
    width: 40px;
    height: 40px;
}

#canvas:fullscreen #symbols,
#canvas:-webkit-full-screen #symbols,
#canvas:-moz-full-screen #symbols,
#canvas:-ms-fullscreen #symbols {
    top: 130px;
    right: 130px;
}

/* -- STARTSCREEN -- */

#startscreen {
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 720px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    background-image: linear-gradient(180deg, rgba(2, 0, 36, 1) 15%, rgba(1, 29, 135, 1) 50%, rgba(21, 62, 122, 1) 70%, rgba(34, 64, 97, 1) 100%);
}

.upper-startscreen {
    display: flex;
    height: 100%;
    flex-direction: row;
    padding: 10px 20px 0 20px;
}

.upper-startscreen h2 {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    font-family: 'pixelify';
}

.lower-startscreen-left h2 {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    font-family: 'pixelify';
}

.lower-startscreen {
    display: flex;
    height: 100%;
    flex-direction: row;
    padding: 10px 20px 20px 20px;
}

.upper-startscreen-left {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.upper-startscreen-right {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.upper-startscreen-right p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: 'pixelify';
    font-size: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'pixelify';
}

table,
td {
    border: 1px solid transparent;
}

td {
    padding: 5px 0px 5px 0px;
    width: 40px;
}

table td img {
    max-width: 172px;
    max-height: 32px;
    display: block;
}

.lower-startscreen-left {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lower-startscreen-right {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startButton {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#startButton:hover {
    background-color: white;
    color: black;
}

#startButton p {
    font-family: 'creepster';
    font-size: 48px;
}

/* -- ENDSCREEN -- */

#endscreen {
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 720px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -48%);
    background-image: linear-gradient(180deg, rgba(2, 0, 36, 1) 15%, rgba(1, 29, 135, 1) 50%, rgba(21, 62, 122, 1) 70%, rgba(34, 64, 97, 1) 100%);
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

#victory {
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 720px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
    background-image: linear-gradient(180deg, rgba(2, 0, 36, 1) 15%, rgba(1, 29, 135, 1) 50%, rgba(21, 62, 122, 1) 70%, rgba(34, 64, 97, 1) 100%);
}

.upper-victory-screen {
    display: flex;
    height: 60%;
    padding: 10px 40px 0 40px;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    align-content: center;
    flex-wrap: nowrap;
}

.upper-victory-screen h2 {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    font-family: 'pixelify';
    font-size: 24px;
}

.lower-victory-screen-left h2 {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    font-family: 'pixelify';
}

.lower-victory-screen {
    display: flex;
    height: 40%;
    flex-direction: row;
    padding: 10px 20px 20px 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.upper-victory-screen-left {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.upper-victory-screen-right {
    min-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.upper-victory-screen-right p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: 'pixelify';
    font-size: 15px;
}

#victoryButton {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-family: 'creepster';
    font-size: 48px;
}

#victoryButton:hover {
    background-color: white;
    color: black;
}

.defeat {
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 720px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
    background-image: linear-gradient(180deg, rgba(2, 0, 36, 1) 15%, rgba(1, 29, 135, 1) 50%, rgba(21, 62, 122, 1) 70%, rgba(34, 64, 97, 1) 100%);
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.defeat h2 {
    padding: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 50px;
    letter-spacing: 3px;
}

.defeat p {
    padding: 40px;
    font-family: 'pixelify';
    font-size: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-align: center;
}

#defeatButton {
    width: 90%;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-family: 'creepster';
    font-size: 48px;
}

#defeatButton:hover {
    background-color: white;
    color: black;
}

/* Smartphones width --- */
@media only screen and (max-width: 720px) {
    .title {
        display: none !important;
    }

    canvas {
        width: 100%;
    }

    .description {
        display: none !important;
    }

    #startscreen {
        width: 100%;
    }

    #endscreen {
        width: 100%;
    }
}

/* Smartphones height --- */
@media only screen and (max-height: 480px) {
    .title {
        display: none !important;
    }

    canvas {
        height: 100vh;
    }

    .description {
        display: none !important;
    }

    #startscreen {
        height: 100vh;
    }

    #endscreen {
        height: 100vh;
    }
}

/* -- DESCRIPTION -- */

.description {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 720px;
    justify-content: space-around;
}

.keys {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.keys img {
    height: 35px;
}

.keys p {
    font-size: 26px;
    margin-right: 5px;
    font-family: 'pixelify';
}